<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jaxbot.twitterpracticejb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/twitterlogo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3bad66e857e94c7f4dfb4bcd38f406fc035cd33e" />

        <activity android:name=".Login">

        </activity>
        <activity
            android:name=".MainScreen"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailedTweet"
            android:label="@string/title_activity_detailed_tweet"
            android:theme="@style/AppTheme" />
        <activity android:name=".TestActivity" />
        <activity
            android:name=".UserAccount"
            android:label="@string/title_activity_user_account"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>